<h1>Administración de establecimientos Pet Friendly</h1>
<table class="table text-center">
  <thead>
    <tr>
      <th scope="col" class="col-3">Nombre del establecimiento</th>
      <th scope="col" class="col-1">Calificación</th>
      <th scope="col" class="col-2">Tipo</th>
      <th scope="col" class="col-2">Sugerencias</th>
      <th scope="col" class="col-2">Reportes</th>
      <th scope="col" class="col-1"></th>
      <th scope="col" class="col-1"></th>
    </tr>
  </thead>
  <tbody>
    <% establecimientos.forEach(function(establecimiento){ %>
      <tr scope="row" class="col-auto">
        <td>
          <%=establecimiento.name%>
        </td>
        <td>
          <%=establecimiento.rating%>/5
        </td>
        <td>
          <%=establecimiento.type%>
        </td>

        <td>
          <a href="/accounts/verSugerencias/<%= establecimiento.id %>" class="btn btn-primary">Ver sugerencias</a>
        </td>

        <td>
          <button class="btn btn-primary">Ver reportes</button>
        </td>

        <td>
          <button type="button" class="btn btn-success">Editar</button>
        </td>
        <td>
          <button data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger deleteButton"
            estid="<%=establecimiento.id%>" username="<%=establecimiento.name%>">Borrar</button>
        </td>
      </tr>
      <% }) %>
  </tbody>
</table>

<div class="modal" id="deleteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Borrar usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="deleteMessage">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" usertoDelete="" class="btn btn-danger" userid="" id="confirmDeleteButton">Borrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="detailsModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Borrar usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="deleteMessage">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" usertoDelete="" class="btn btn-danger" userid="" id="confirmDeleteButton">Borrar</button>
      </div>
    </div>
  </div>
</div>


<script>
  document.querySelectorAll('.deleteButton').forEach((button) => {
    button.addEventListener('click', (ev) => {
      console.log(ev.target);
      document.querySelector('#deleteMessage').innerText = "  Está seguro que desea borrar el establecimiento " + ev.target.getAttribute('username') + '?';
      document.querySelector('#confirmDeleteButton').setAttribute("estid", ev.target.getAttribute('estid'));
    })
  })
  document.querySelector('#confirmDeleteButton').addEventListener('click', (ev) => window.location = '/accounts/deleteEstablecimiento/' + ev.target.getAttribute('estid'))
</script>