<h1>Administración de cuentas de <%= type %></h1>
<table class="table">
  <thead>
    <tr>
      <% if (type == 'personas') { %>
        <th scope="col">Nombre</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
        <th scope="col">Reporte adopción</th>
        <th scope="col">Reporte comentario</th>
        <th scope="col"></th>
        <th scope="col"></th>

      <% } else if (type == 'albergues'){ %>
        <th scope="col">Nombre</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
        <th scope="col">Reporte adopción</th>
        <th scope="col"></th>
        <th scope="col"></th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(function(user){ %>
      <% childUsers.forEach(function(cUser) { %>
        <% if (user.id == cUser.user_id) { %>
          <% if (type == 'personas') { %>
            <tr>
              <th scope="row">
                <%=cUser.first_name%> <%=cUser.last_name%>
              </th>
              <td>
                <%=cUser.phone_number%>
              </td>
              <td>
                <a href="mailto:<%=cUser.email%>"><%=cUser.email%></a>
              </td>
              <td>
                <%=user.status%>
              </td>
              <td>
                <a href="/accounts/reporteAdopcion?user_id=<%= user.id %>">Ver adopciones</a>
              </td>
              <td>
                <button class="btn btn-success">Ver comentarios</button>
              </td>
              <td>
                <button class="btn btn-success">Editar</button>
              </td>
              <td><button data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-primary deleteButton"
                  userid="<%=user.id%>" username="<%=user.username%>">Borrar</button></td>
            </tr>
          <% } else if (type =='albergues') { %>
            <tr>
              <th scope="row">
                <%=cUser.name%>
              </th>
              <td>
                <%=cUser.phone_number%>
              </td>
              <td>
                <a href="mailto:<%=cUser.email%>"><%=cUser.email%></a>
              </td>
              <td>
                <%=user.status%>
              </td>
              <td>
                <a href="/accounts/reporteAdopcion?user_id=<%= user.id %>">Ver adopciones</a>
              </td>
              <td>
                <button class="btn btn-success">Editar</button>
              </td>
              <td><button data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-primary deleteButton"
                  userid="<%=user.id%>" username="<%=user.username%>">Borrar</button></td>
            </tr>
          <% } %>
        <% } %>
      <% }) %>
    <% }) %>
  </tbody>
</table>

<% if (users.length == 0) { %>
  <p style="text-align: center;">	-- No se encuentran usuarios --</p>
<% } %>

<div class="modal" id="deleteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Borrar usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="deleteMessage">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" usertoDelete="" class="btn btn-danger" userid="" id="confirmDeleteButton">Borrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="detailsModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Borrar usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="deleteMessage">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" usertoDelete="" class="btn btn-danger" userid="" id="confirmDeleteButton">Borrar</button>
      </div>
    </div>
  </div>
</div>
<script>
  document.querySelectorAll('.deleteButton').forEach((button) => {
    button.addEventListener('click', (ev) => {
      console.log(ev.target);
      document.querySelector('#deleteMessage').innerText = "  Está seguro que desea borrar al usuario " + ev.target.getAttribute('username') + '?';
      document.querySelector('#confirmDeleteButton').setAttribute("userid", ev.target.getAttribute('userid'));
    })
  })
  document.querySelector('#confirmDeleteButton').addEventListener('click', (ev) => window.location = '/accounts/delete/' + ev.target.getAttribute('userid'))
</script>