<main class="container">
  <div>
    <%- include('modal_adopcion') %>
  </div>
  <!--ver el "border-2" mezcla de clase en Boostrap y Tailwind-->
  <!-- probar si funciona enctype="multipart/form-data" -->
  <form action="/adopcion/postAdopcion" method="post" class="row my-3 p-2 border border-gray-500 g-3">
    <h3 class="fw-bold">1. Datos:</h3>
    <div class="row input-group mb-3">
      <div class="col-md-4">
        <label for="" class="form-label">Nombre:</label>
        <input type="text" class="form-control" placeholder="Nombre de la mascota" name="name" value="" required>
      </div>
      <div class="col-md-4">
        <label for="" class="form-label">Especie:</label>
        <select class="form-select" name="specie" required>
          <option selected disabled value="">Choose...</option>
          <% especies.forEach(function(especie){ %>
            <option value=<%=especie.id%> > <%=especie.name%>
            </option>
            <% }) %>
        </select>
      </div>
      <div class="col-md-4">
        <label for="" class="form-label">Sexo:</label>
        <select class="form-select" name="gender" required>
          <option selected disabled value="">Choose...</option>
          <% generos.forEach(function(genero){ %>
            <option value=<%=genero.id%> > <%=genero.name%>
            </option>
            <% }) %>
        </select>
      </div>
    </div>

    <div class="row input-group mb-3">
      <div class="col-md-4">
        <label for="" class="form-label">Fecha de nacimiento(Aprox.):</label>
        <input type="date" class="form-control" name="birthdate" required>
      </div>
      <div class="col-md-4">
        <label for="" class="form-label">Tama침o:</label>
        <div class="input-group">
          <select class="form-select" name="size" required>
            <option selected disabled value="">Choose...</option>
            <% tamanhos.forEach(function(tamanho){ %>
              <option value=<%=tamanho.id%> > <%=tamanho.name%>
              </option>
              <% }) %>
          </select>
          <input type="number" class="form-control" placeholder="Peso" name="weight" required>
          <span class="input-group-text">Kg</span>
        </div>
      </div>
      <div class="col-md-4">
        <label for="" class="form-label">Nivel de Actividad:</label>
        <select class="form-select" name="activitylevel" required>
          <option selected disabled value="">Choose...</option>
          <% actividades.forEach(function(actividad){ %>
            <option value=<%=actividad.id%> > <%=actividad.name%>
            </option>
            <% }) %>
        </select>
      </div>
    </div>


    <div class="col-12 mt-0">
      <label for="" class="form-label">Descripci칩n:</label>
      <textarea class="form-control" name="story" rows=4 maxlength="300" placeholder="Breve descripci칩n de la mascota"
        style="resize: none;" required></textarea>
    </div>

    <h3 class="fw-bold">2. Se entrega:</h3>
    <div class="btn-group mt-0 mb-3" role="group">
      <div class="col-4">
        <div class="form-check">
          <input class="form-check-input" type="checkbox"  value=true name="vacunado">
          <label class="form-check-label" for="">Vacunado</label>
        </div>
      </div>
      <div class="col-4">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value=true name="desparasitado">
          <label class="form-check-label" for="">Desparasitado</label>
        </div>
      </div>
      <div class="col-4">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value=true name="sano">
          <label class="form-check-label" for="">Sano</label>
        </div>
      </div>
    </div>
    <div class="btn-group mt-0" role="group">
      <div class="col-4">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value=true name="esterilizado">
          <label class="form-check-label" for="">Esterilizado</label>
        </div>
      </div>
      <div class="col-4">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value=true name="microchip">
          <label class="form-check-label" for="">Microchip</label>
        </div>
      </div>
    </div>

    <h3 class="fw-bold">3. Fotos:</h3>
    <div class="row">
      <label for="" class="form-label text-center">Foto de perfil:</label>
      <div class="">
        <button class="rounded-3 bg-transparent px-0 border-0 bg-transparent" id="boton_selec_foto" type="button">
          <img src="/img/petDefault.png" class="img-thumbnail border-2 rounded-3 position-relative" id="image-field"
            width="200" height="200">
        </button>
        <input type="file" name="image" id="input_foto"  onchange="handleIMG(this.files), previewImage(event)"
          accept="image/*" required style="display: none">
      </div>
    </div>

    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label text-blue-700" for="invalidCheck2">
          Agree to terms and conditions
        </label>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>

  <script>
    // para cambiar el color de texto de la secci칩n en el navbar
    highlightNavbar(4)
  </script>
</main>

<script src="/js/adopcion.js"></script>
<script src="/js/selectFoto.js"></script>