<h3>Establecimientos listado</h3>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="row row-cols-1 row-cols-md-3 g-4 mt-2 pb-3">
    <% establecimientos.forEach(function(establecimiento){ %>
        <div class="col">
            <div class="card text-center" role="button" onclick="location.href='#<%=establecimiento.id%>'">
                <h5 class="card-title fw-bold"> <%=establecimiento.name%> </h5>
                <img src="data:image/png;base64,<%=establecimiento.photo%>" class="img-fluid"
                    style="width: 100%; object-fit:contain">
                <div class="row align-items-center" style="min-height: 80px;">
                    <div class="col-4">
                        <span class="align-middle"> <%=establecimiento.location.district%> </span>
                    </div>
                    <div class="col-4">
                        <!-- <span class="fs-6"> <%=establecimiento.type%> </span> -->
                        <img src="https://www.srperro.com/media/categoria/1e49faef-4aee-41fc-8634-e812b909a185.png" class="img-fluid border border-1 rounded-circle">
                    </div>
                    <div class="col-4">
                        <span class="align-middle"> <%=establecimiento.rating%>/5 </span>
                        <span class="material-icons align-middle"> pets </span>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
</div>