<html>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div class="container" style="margin-bottom: 2%;">
        <div class ="card">
            <div class="row">
                <div class="col-4">
                    <% if (establecimiento.photo1){ %>
                        <img src="data:image/png;base64,<%=establecimiento.photo1%>" class="img-fluid" alt="...">
                    <% }%>
                </div>                
                <div class="col-2">
                    <div class="row">
                        <% if (establecimiento.photo2){ %>
                            <img src="data:image/png;base64,<%=establecimiento.photo2%>" class="img-fluid" alt="...">
                        <% }%>
                    </div>
                    <div class="row">
                        <% if (establecimiento.photo3){ %>
                            <img src="data:image/png;base64,<%=establecimiento.photo3%>" class="img-fluid" alt="...">
                        <% }%>
                    </div>
                    <div class="row">
                        <% if (establecimiento.photo4){ %>
                            <img src="data:image/png;base64,<%=establecimiento.photo4%>" class="img-fluid" alt="...">
                        <% }%>
                    </div>
                </div>  
                <div class="col-6">                                       
                    <div class="row" style="text-align: center; margin: 2%;">
                        <p class="h1"><%=establecimiento.name%></p>
                    </div>
                    <div class ="card" style="margin-bottom: 2%;">
                        <h5 class="card-title">Distrito</h5>
                        <p class="card-text" style="text-align: center;"><%=establecimiento.location.district%></p>
                    </div>
                    <div class ="card" style="margin-bottom: 2%;">
                        <h5 class="card-title">Dirección</h5>
                        <p class="card-text" style="text-align: center;"><%=establecimiento.location.address%></p>
                    </div>
                    <div class ="card" style="margin-bottom: 2%;">
                        <h5 class="card-title">Distrito</h5>
                        <p class="card-text" style="text-align: center;"><%=establecimiento.location.district%></p>
                    </div>
                    <div class ="card" style="margin-bottom: 2%;">
                        <h5 class="card-title">Link</h5>
                        <p class="card-text" style="text-align: center;"><%=establecimiento.link%></p>
                    </div>

                    <div class="row" style="margin-bottom: 2%;">
                        <div class="col">
                            <div class="icon-type ">
                                <!-- Con la mascota -->
                                <% if (establecimiento.type=='Bares & Cafés'){ %>
                                <img title="<%=establecimiento.type%>" src="https://www.srperro.com/media/categoria/33c96c76-0bcf-4ae2-89db-9963cc847bdb.png" class="img-fluid">
                                <% } else if (establecimiento.type=='Restaurantes'){ %>
                                <img title="<%=establecimiento.type%>" src="https://www.srperro.com/media/categoria/46a58912-ccc9-4ae8-83a1-84d3628d472c.png" class="img-fluid">
                                <% } else if (establecimiento.type=='Terrazas'){ %>
                                <img title="<%=establecimiento.type%>" src="https://cdn-icons-png.flaticon.com/512/174/174446.png" class="img-fluid">
                                <% } else if (establecimiento.type=='Hoteles & Alojamientos'){ %>
                                <img title="<%=establecimiento.type%>" src="https://www.srperro.com/media/categoria/6faf13fc-d4c0-4c41-9818-d906fff2d9fa.png" class="img-fluid">
                                <% } else if (establecimiento.type=='Playas'){ %>
                                <img title="<%=establecimiento.type%>" src="https://www.srperro.com/media/categoria/52c40115-b990-4e4b-a821-a294f537b683.png" class="img-fluid">
                                <% } else if (establecimiento.type=='Tiendas'){ %>
                                <img title="<%=establecimiento.type%>" src="https://www.srperro.com/media/categoria/716975e5-67e5-4cd0-8865-2e083e0ddf70.png" class="img-fluid">
                                <% } else if (establecimiento.type=='Parques'){ %>
                                <img title="<%=establecimiento.type%>" src="https://www.srperro.com/media/categoria/036729f4-0085-4e9c-acee-1d4542ca0c4c.png" class="img-fluid">
                                <% } else if (establecimiento.type=='Centros de belleza'){ %>
                                <img title="<%=establecimiento.type%>" src="https://www.srperro.com/media/categoria/2ceedd89-faa0-4731-ad07-ae4d0da88a55.png" class="img-fluid">
                                <% } else if (establecimiento.type=='Clínicas'){ %>
                                <img title="<%=establecimiento.type%>" src="https://img2.freepng.es/20180420/vce/kisspng-hospital-computer-icons-medicine-clinic-clip-art-clinic-5adaa5a660c301.3626810315242786943964.jpg" class="img-fluid">
                                <% } else if (establecimiento.type=='Transportes'){ %>
                                <img title="<%=establecimiento.type%>" src="https://www.srperro.com/media/categoria/22e0a85a-9d3e-48e1-a338-4d23d9d859ca.png" class="img-fluid">
                                <!-- Para mascotas -->
                                <% } else if (establecimiento.type=='Spa mascotas'){ %>
                                <img title="<%=establecimiento.type%>" src="https://cdn-icons-png.flaticon.com/512/1499/1499544.png" class="img-fluid">
                                <% } else if (establecimiento.type=='Veterinarias'){ %>
                                <img title="<%=establecimiento.type%>" src="https://www.srperro.com/media/categoria/1e49faef-4aee-41fc-8634-e812b909a185.png" class="img-fluid">
                                <% } else if (establecimiento.type=='Tiendas mascotas'){ %>
                                <img title="<%=establecimiento.type%>" src="https://www.srperro.com/media/categoria/d5bc7c4e-58fc-44d4-89ff-b3146bca3de0.png" class="img-fluid">
                                <!-- Otros -->
                                <% } else { %>
                                <img title="<%=establecimiento.type%>" src="https://www.srperro.com/media/categoria/3d0dc4cd-9c7c-4f0e-87d2-f66161ccaa35.png" class="img-fluid">
                                <% } %>
                            </div>
                        </div>
                        <div class="col-4">
                            <span class="align-middle"> <%=establecimiento.rating%>/5 </span>
                            <span class="material-icons align-middle"> pets </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-9">
                <p class="h2">Valoraciones</p>
            </div>
            <div class="col-3" >
                <div class="container">
                    <button type="button" class="btn btn-primary" style="float: right;" onclick="location.href='./suggestion_form?id=<%=establecimiento.id%>'">Dar Sugerencia</button>
                </div>                
            </div>            
        </div>
        <div class="row">
            
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p class="h2">¡Valora el negocio!</p>
        </div>
        <div class="row" style="margin-bottom: 2%;">
            <div class="col-5">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Danos tu opinión" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Danos tu opinión</label>
                </div>                
            </div>
            <div class="col-7">
                <div class="row" style="margin-bottom: 2%;"><p class="h3">¿Cuentas huellitas le pones?</p></div>
                <div class="row" style="margin-bottom: 2%;"><p class="h4" style="text-align: center;">... Huellitas ...</p></div>
                <div class="row" >
                    <div class="col"></div>
                    <div class="col"><button type="button" class="btn btn-primary" style="width: 100%; height: 100%;">Valorar</button></div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
</html>