<main class="container">

    <h2>Bienvenido a tu perfil, 
        <% if (userType == "person") { %>
            <%= usuario.first_name %>
        <%} else if (userType == "shelter") { %>
            <%= usuario.name %>
        <% } %>
    </h2>

    <div class="row">
        <div class="col-6">
            <h2>Datos personales: </h2>
                <% if (userType == "person") { %>
                    <div class="row">
                        <div class="col-6">
                            <p>Nombres: <%= usuario.first_name %></p>
                            <p>Apellidos: <%= usuario.last_name %></p>
                            <p>DNI: <%= usuario.document_number %></p>
                            <p>Celular: <%= usuario.phone_number %></p>
                            <p>E-mail: <%= usuario.email %></p>
                        </div>
                        <div class="col-6">
                            <div class="card col">
                                <img src="data:image/png;base64,<%=usuario.photo?usuario.photo:''%>" class="card-img-top" style="width: 100%; height: 15vw; object-fit:contain" alt="...">                                
                            </div>
                        </div>
                    </div>
        
                <%} else if (userType == "shelter") { %>
                    <div class="row">
                        <div class="col-6">
                            <p>Nombre de la compañia: <%= usuario.name %></p>
                            <p>RUC: <%= usuario.ruc %></p>
                            <p>Número de telefono: <%= usuario.phone_number %></p>
                            <p>Email: <%= usuario.email %></p>
                        </div>
                        <div class="col-6">
                            <div class="card col">
                                <img src="data:image/png;base64,<%=usuario.photo?usuario.photo:''%>" class="card-img-top" style="width: 100%; height: 15vw; object-fit:contain" alt="...">
                            </div>
                        </div>
                    </div>
        
                <% } %>
        </div>

        <div class="col-6">
            <h2>Realizar cambios:</h2>
            <a href="/editar_usuario/elegirTipo" class="btn btn-warning">Editar cuenta</a>
            <a href="/usuario/cambiarContrasena" class="btn btn-danger">Cambiar contraseña</a>
        </div>
    </div>

    <div class="row">
        <h2>Mis publicaciones:</h2>

        <% if (posts.length == 0) { %>
            <p style="text-align: center;">-- Actualmente no tienes publicaciones --</p>
        <% } %>

        <div class="row row-cols-1 row-cols-md-5 g-4 mt-2 mb-4">
            <% posts.forEach(function(post){ %>
        
                <div class="col">
        
                    <div class="card col" role="button" onclick="location.href='../pet_detalle?id=<%=post.id%>'">
                        <img src="data:image/png;base64,<%=post.pet.photo?post.pet.photo:''%>" class="card-img-top" style="width: 100%; height: 15vw; object-fit:contain" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"> <%=post.pet.name%>
                            </h5>
                            <p class="card-text"><%=post.pet.story.length<=100? post.pet.story: post.pet.story.slice(0,100)+"..."%></p>
                        </div>
                    </div>
                    <div class="col">
                        <button data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger mt-2 mb-2 deleteButton" postid="<%= post.id %>" namePet="<%= post.pet.name %>">Borrar</button>
                        
                    </div>
                </div>
        
        
            <% }) %>
        
        </div>
    </div>
    
</main>

<div class="modal" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Borrar post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="deleteMessage">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" posttoDelete="" class="btn btn-danger" postid="" id="confirmDeleteButton">Borrar</button>
        </div>
      </div>
    </div>
  </div>





<script>
    highlightNavbar(5)
    document.querySelectorAll('.deleteButton').forEach((button) => {
    button.addEventListener('click', (ev) => {
      console.log(ev.target);
      document.querySelector('#deleteMessage').innerText = "  Está seguro que desea borrar al anuncio de " + ev.target.getAttribute('namePet') + '?';
      document.querySelector('#confirmDeleteButton').setAttribute("postid", ev.target.getAttribute('postid'));
    })
  })
  document.querySelector('#confirmDeleteButton').addEventListener('click', (ev) => window.location = '/post/delete/' + ev.target.getAttribute('postid'))
</script>