<% if(post.user.type == "shelter"){flag=true} else {flag=false}%>
<main class="container" style="height: auto;">
    <div class="ficha">
        <div class="row justify-content-md-center" style="margin-top: 1.5rem;">
            <div class="col-xl-3" style="padding-left: 1.5rem; padding-right: 1.5rem;">
                <div class="row">
                    <img src="data:image/png;base64,<%=post.pet.photo?post.pet.photo:''%>" class="card-img-top" alt="...">
                </div>
                <div class="row" style="margin-top: 1.5rem;">
                    <div class="col">
                        <h2 style="text-align: center;"><p class="h2"><%=post.pet.name %> </p></h2>
                    </div>
                </div>
            </div>

            <div class="col" style="padding-left: 1rem; padding-right: 1rem;">
                <div class="card" style="padding: 1.5rem; margin-bottom: 1.5rem;">
                    <h5 class="card-title">
                        <p class="h2">Mis datos</p>
                    </h5>
                    <div class="row">
                        <div class="col">
                            Fecha nacimiento
                        </div>
                        <div class="col col-lg-4" style="text-align: end;">
                            <%=post.pet.birthdate %>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            Peso
                        </div>
                        <div class="col col-lg-4" style="text-align: end;">
                            <%=post.pet.weight %>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            Especie
                        </div>
                        <div class="col col-lg-4" style="text-align: end;">
                            <%=post.pet.specie.name %>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            Género
                        </div>
                        <div class="col col-lg-4" style="text-align: end;">
                            <%=post.pet.gender.name %>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            Tamaño
                        </div>
                        <div class="col col-lg-4" style="text-align: end;">
                            <%=post.pet.size.name %>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            Actividad
                        </div>
                        <div class="col col-lg-4" style="text-align: end;">
                            <%=post.pet.activitylevel.name %>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="card" style="padding: 1.5rem; margin-bottom: 1.5rem;"">
                <h5 class=" card-title">
                    <p class="h5">Mi historia </p>
                    </h5>
                    <div class="row" style="text-align: justify;">
                        <p>
                            <%=post.pet.story %>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col col-lg-3" style="padding-left: 3rem; padding-right: 3rem;">
                <div class="row">
                    <div class="card" style="padding: 1.5rem; margin-bottom: 1.5rem;">
                        <h3 class="card-title">
                            <p class="h3">Ficha</p>
                        </h3>
                        <div class="row">
                            <div class="col">
                                Sano
                            </div>
                            <div class="col col-lg-4" style="text-align: end;">
                                <% if(post.pet.sano){ %><span class="badge bg-success">Si</span>
                                    <% } else{ %><span class="badge bg-danger">No</span>
                                        <% } %>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                Vacunado
                            </div>
                            <div class="col col-lg-4" style="text-align: end;">
                                <% if(post.pet.vacunado){ %><span class="badge bg-success">Si</span>
                                    <% } else{ %><span class="badge bg-danger">No</span>
                                        <% } %>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                Desparasitado
                            </div>
                            <div class="col col-lg-4" style="text-align: end;">
                                <% if(post.pet.desparasitado){ %><span class="badge bg-success">Si</span>
                                    <% } else{ %><span class="badge bg-danger">No</span>
                                        <% } %>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                Esterelizado
                            </div>
                            <div class="col col-lg-4" style="text-align: end;">
                                <% if(post.pet.esterelizado){ %><span class="badge bg-success">Si</span>
                                    <% } else{ %><span class="badge bg-danger">No</span>
                                        <% } %>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                Microchip
                            </div>
                            <div class="col col-lg-4" style="text-align: end;">
                                <% if(post.pet.microchip){ %><span class="badge bg-success">Si</span>
                                    <% } else{ %><span class="badge bg-danger">No</span>
                                        <% } %>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="card" style="padding: 1rem; margin-bottom: 1rem;">
                        <h5 class="card-title">
                            <p class="h5">
                                <% if(flag){ %>Refugio
                                    <% } else{ %>Usuario<% } %>
                            </p>
                        </h5>
                        <div class="row">
                            <div class="container">
                                <img src="data:image/png;base64,<%=dueño.photo?dueño.photo:''%>" class="card-img-top" alt="...">
                            </div>
                        </div>
                        <div class="row">
                            <p>
                                <% if(flag){ %>
                                    <%=dueño.name%>
                                        <% } else{ %>
                                            <%=dueño.first_name%>
                                                <%=dueño.last_name%>
                                                    <% } %>
                            </p>
                        </div>
                        <div class="row">
                            <p>
                                <%=dueño.phone_number%>
                            </p>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <figure class="text-center">                            
                            <a href="/anuncios/reportar?id=<%=post.pet_id%>" type="button"
                                class="btn btn-danger mar mt-2" style="width:  12rem;">
                                <b>Reportar</b>
                            </a>
                        </figure>
                    </div>
                </div>
        </div>        
    </div>
</main>