
<div class="container" style="margin-bottom: 2%;">
    <p class="h1">Sugerencias</p>
</div>
<div class="container" style="margin-bottom: 2%;">
    <form class="row g-3" action="/establecimiento_detalle/ds" enctype="multipart/form-data" method="POST">
        <input hidden type="text" id="id" name="id" value="<%=establecimiento.id%>">
        <input hidden type="text" id="country" name="country" value="<%=establecimiento.location.country%>">
        <input hidden type="text" id="province" name="province" value="<%=establecimiento.location.province%>">


        <div class="col-md-6">
          <label class="form-label">Nombre</label>
          <input type="text" class="form-control" id="name" name="name" value="<%=establecimiento.name%>">
        </div>
        <div class="col-md-6">
          <label class="form-label">Tipo</label>
          <select name="type" class="form-select" required>
            <option selected value="<%= establecimiento.type %>"><%= establecimiento.type %></option>
            <option value="Bares & Cafés">Bares & Cafés</option>
            <option value="Restaurantes">Restaurantes</option>
            <option value="Terrazas">Terrazas</option>
            <option value="Hoteles & Alojamientos">Hoteles & Alojamientos</option>
            <option value="Playas">Playas</option>
            <option value="Tiendas">Tiendas</option>
            <option value="Parques">Parques</option>
            <option value="Centros de belleza">Centros de belleza</option>
            <option value="Clínicas">Clínicas</option>
            <option value="Transportes">Transportes</option>
            <option value="Spa mascotas">Spa mascotas</option>
            <option value="Veterinarias">Veterinarias</option>
            <option value="Tiendas mascotas">Tiendas mascotas</option>
          </select>
        </div>
        <div class="col-12">
          <label class="form-label">Link</label>
          <input type="text" class="form-control" id="link" name="link" value="<%=establecimiento.link%>">
        </div>
        <div class="col-md-8">
          <label class="form-label">Dirección</label>
          <input type="text" class="form-control" id="address" name="address" value="<%=establecimiento.location.address%>">
        </div>
        <div class="col-md-4">
          <label class="form-label">Distrito</label>
          <select class="form-select" name="district" required>
            <option selected value="<%= establecimiento.location.district %>"><%= establecimiento.location.district %></option>
            <option value="Ancón">Ancón</option>
            <option value="Ate Vitarte">Ate Vitarte</option>
            <option value="Barranco">Barranco</option>
            <option value="Breña">Breña</option>
            <option value="Carabayllo">Carabayllo</option>
            <option value="Chaclacayo">Chaclacayo</option>
            <option value="Chorrillos">Chorrillos</option>
            <option value="Cieneguilla">Cieneguilla</option>
            <option value="Comas">Comas</option>
            <option value="El Agustino">El Agustino</option>
            <option value="Independencia">Independencia</option>
            <option value="Jesús María">Jesús María</option>
            <option value="La Molina">La Molina</option>
            <option value="La Victoria">La Victoria</option>
            <option value="Lima Cercado">Lima Cercado</option>
            <option value="Lince">Lince</option>
            <option value="Los Olivos">Los Olivos</option>
            <option value="Lurigancho">Lurigancho</option>
            <option value="Lurín">Lurín</option>
            <option value="Magdalena del Mar">Magdalena del Mar</option>
            <option value="Miraflores">Miraflores</option>
            <option value="Pachacamac">Pachacamac</option>
            <option value="Pucusana">Pucusana</option>
            <option value="Pueblo Libre">Pueblo Libre</option>
            <option value="Puente Piedra">Puente Piedra</option>
            <option value="Punta Hermosa">Punta Hermosa</option>
            <option value="Punta Negra">Punta Negra</option>
            <option value="Rímac">Rímac</option>
            <option value="San Bartolo">San Bartolo</option>
            <option value="San Borja">San Borja</option>
            <option value="San Isidro">San Isidro</option>
            <option value="San Juan de Lurigancho">San Juan de Lurigancho</option>
            <option value="San Juan de Miraflores">San Juan de Miraflores</option>
            <option value="San Luis">San Luis</option>
            <option value="San Martín de Porres">San Martín de Porres</option>
            <option value="San Miguel">San Miguel</option>
            <option value="Santa Anita">Santa Anita</option>
            <option value="Santa María del Mar">Santa María del Mar</option>
            <option value="Santa Rosa">Santa Rosa</option>
            <option value="Santiago de Surco">Santiago de Surco</option>
            <option value="Surquillo">Surquillo</option>
            <option value="Villa El Salvador">Villa El Salvador</option>
            <option value="Villa María del Triunfo">Villa María del Triunfo</option>
          </select>          
        </div>
        <label class="form-label">Foto:</label>
        <div class="col-md-4">          
          <div class="">
            <button class="rounded-3 bg-transparent px-0 border-0 bg-transparent" id="boton_selec_foto1" type="button">
              <img src="/img/petDefault.png" class="img-thumbnail border-2 rounded-3 position-relative" id="image-field1"
                width="200" height="200">
            </button>
            <input type="file" name="images" id="input_foto1"
              accept="image/*" required style="display: none" multiple>
          </div>
        </div>

       
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Subir</button>
        </div>
    </form>
</div>
<script src="/js/selectFotos.js"></script>
