<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/style.css">


<main class="container">
  
    <div style="background-color: aliceblue; margin: 2%;">
      <h2 style="margin-bottom: 2%; text-align: center; font-weight: 650">Administración de Usuarios - "Reportes de Adopción"</h2>
    </div>

    <div style="background-color: aliceblue; margin: 2%;">
        <h2 style="margin-bottom: 2%; text-align: center; font-weight: 650">Datos del <%= user.type %> "<%= user.username %>"
        </h2>
    </div>

    <section style="background-color: rgb(255, 255, 255);">      
          
        <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                    <% if (userChild.photo == null){ %>
                        <label for="" class="form-label">-- Sin foto --</label>
        
                    <% } else { %>
                        <img src="data:image/png;base64,<%=userChild.photo%>" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                    <% } %>
                    
                    <% if (user.type == "person") { %>
                        <h5 class="my-3"><%= userChild.first_name %> <%= userChild.last_name %></h5>
                    <% } else { %>
                        <h5 class="my-3"><%= userChild.name %></h5>
                    <% } %>
                    <p class="text-danger mb-1" style="font-weight: bold;">Status: <%= user.status %></p>
                </div>
              </div>
            </div>
            
            <% if (user.type == "person") { %>
                <div class="col-lg-8">
                    <div class="card mb-4">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-sm-3">
                            <p class="mb-0">Nombre</p>
                          </div>
                          <div class="col-sm-9">
                            <p class="text-muted mb-0"> <%= userChild.first_name %> <%= userChild.last_name %> </p>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <p class="mb-0">Teléfono</p>
                          </div>
                          <div class="col-sm-9">
                            <p class="text-muted mb-0"> <%= userChild.phone_number %> </p>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <p class="mb-0">DNI</p>
                          </div>
                          <div class="col-sm-9">
                            <p class="text-muted mb-0"> <%= userChild.document_number %> </p>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Sexo</p>
                            </div>
                            <div class="col-sm-9">
                              <p class="text-muted mb-0"> <%= userChild.gender.name %> </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">E-mail</p>
                            </div>
                            <div class="col-sm-9">
                              <p class="text-muted mb-0"> <%= userChild.email %> </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <p class="mb-0">Dirección</p>
                          </div>
                          <div class="col-sm-9">
                            <p class="text-muted mb-0"> <%= userChild.location.address %> </p>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <p class="mb-0">Distrito</p>
                          </div>
                          <div class="col-sm-9">
                            <p class="text-muted mb-0"> <%= userChild.location.district %> </p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            <% } else { %>
                <div class="col-lg-8">
                    <div class="card mb-4">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-sm-3">
                            <p class="mb-0">Nombre</p>
                          </div>
                          <div class="col-sm-9">
                            <p class="text-muted mb-0"> <%= userChild.name %> </p>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <p class="mb-0">Teléfono</p>
                          </div>
                          <div class="col-sm-9">
                            <p class="text-muted mb-0"> <%= userChild.phone_number %> </p>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <p class="mb-0">RUC</p>
                          </div>
                          <div class="col-sm-9">
                            <p class="text-muted mb-0"> <%= userChild.ruc %> </p>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <p class="mb-0">E-mail</p>
                          </div>
                          <div class="col-sm-9">
                            <p class="text-muted mb-0"> <%= userChild.email %> </p>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Dirección</p>
                            </div>
                            <div class="col-sm-9">
                              <p class="text-muted mb-0"> <%= userChild.location.address %></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Distrito</p>
                            </div>
                            <div class="col-sm-9">
                              <p class="text-muted mb-0"> <%= userChild.location.district %></p>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            <% } %>
        </div>
    </section>

    <div style="background-color: aliceblue; margin: 2%;">
        <h2 style="margin-bottom: 2%; text-align: center; font-weight: 650">Listado de reportes</h2>
    </div>

    <% if (reportes.length == 0) { %>
        <p style="text-align:center;">-- Actualmente no se encuentran reportes --</p>
    
    <% } %>
    
<!--VIEW REPORTES-->

    <div class="row row-cols-1 row-cols-md-5 g-4 mt-2 mb-4">
      <% reportes.forEach(function(reporte){ %>
            <div style="width: 33%"; class="col">
                <div class="card">
                    <div class="card-title">
                        <h4 class="mt-3" style="font-weight: bold; text-align: center;">Reporte</h4>
                    </div>
                    <div class="card-body">

                        <label for="" class="form-label" style="font-weight: bold;">¿Qué ocurrió?</label>
                        <p><%= reporte.desc %></p>

                        <div class="row">
                            <label for="" class="form-label" style="font-weight: bold;">Foto:</label>
                        </div>
                        <div class="row">
                            <img id="imageReport" src="data:image/png;base64,<%=reporte.photo?reporte.photo:''%>" alt="avatar">
                        </div>

                    </div>
                    <div id="footerReport" class="card-footer">
                        <div class="row">
                            <div id="userImage" class="col-6">
                                <% usuariosPeople.forEach(function(people){ %>
                                    <% if (people.user_id == reporte.userAdoptante_id) { %>
                                        <div class="row mt-4">
                                            <div class="col-6">
                                                <img src="data:image/png;base64,<%=people.photo?people.photo:''%>" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                                            </div>
                                            <div class="col-6">
                                                <label for="">Por:</label>
                                                <label for="" style="font-weight: bold;" class="form-label"><%= people.first_name %> <%= people.last_name %></label>                                                
                                                <label for="" style="font-size:90%"; class="form-label"><%= reporte.fecha %></label>
                                            </div>
                                        </div>
                                    <% } %>
                                <% }) %>
                            </div>
                            <div id="reportOptions" class="col-6">
                                <form action="/accounts/cambiarStatus" method="POST">
                                    <div style="margin-top:84%; margin-bottom: -10%;";>
                                        <select id="changeStatus" class="form-select" name="status" id="" required>
                                            <option selected disabled value=""><%= user.status %></option>
                                            <option value="actived">Activo</option>
                                            <option value="reported">Reportado</option>
                                            <option value="blocked">Bloqueado</option>
                                        </select>
                                        <input type="text" value="<%= user.id %>" name="id" hidden>
                                        <input type="text" value="<%= reporte.id %>" name="reporte_id" hidden>
                                        <button id="reportButton" style="margin:0%"; type="submit" class="btn btn-success mt-3 mb-2">Ok</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
      <% }) %>
    
    </div>
</main>