<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/style.css">


<main class="container">

  <div style="background-color: aliceblue; margin: 2%;">
    <h2 style="margin-bottom: 2%; text-align: center; font-weight: 650">Administración de Usuarios - "Reportes de
      Adopción"</h2>
  </div>

  <div style="background-color: aliceblue; margin: 2%;">
    <h2 style="margin-bottom: 2%; text-align: center; font-weight: 650">Datos del <%= user.type %> "<%= user.username %>
          "
    </h2>
  </div>

  <section style="background-color: rgb(255, 255, 255);">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <% if (userChild.photo==null){ %>
              <label for="" class="form-label">-- Sin foto --</label>

              <% } else { %>
                <img src="data:image/png;base64,<%=userChild.photo%>" alt="avatar" class="rounded-circle img-fluid"
                  style="width: 150px;">
                <% } %>

                  <% if (user.type=="person" ) { %>
                    <h5 class="my-3">
                      <%= userChild.first_name %>
                        <%= userChild.last_name %>
                    </h5>
                    <% } else { %>
                      <h5 class="my-3">
                        <%= userChild.name %>
                      </h5>
                      <% } %>
                        <p class="text-danger mb-1" style="font-weight: bold;">Status: <%= user.status %>
                        </p>
          </div>
        </div>
      </div>

      <% if (user.type=="person" ) { %>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nombre</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    <%= userChild.first_name %>
                      <%= userChild.last_name %>
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Teléfono</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    <%= userChild.phone_number %>
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">DNI</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    <%= userChild.document_number %>
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Sexo</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    <%= userChild.gender.name %>
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">E-mail</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    <%= userChild.email %>
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Dirección</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    <%= userChild.location.address %>
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Distrito</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    <%= userChild.location.district %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } else { %>
          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Nombre</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      <%= userChild.name %>
                    </p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Teléfono</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      <%= userChild.phone_number %>
                    </p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">RUC</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      <%= userChild.ruc %>
                    </p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">E-mail</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      <%= userChild.email %>
                    </p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Dirección</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      <%= userChild.location.address %>
                    </p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Distrito</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      <%= userChild.location.district %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
    </div>
  </section>

  <div style="background-color: aliceblue; margin: 2%;">
    <h2 style="margin-bottom: 2%; text-align: center; font-weight: 650">Listado de reportes</h2>
  </div>

  <% if (reportes.length==0) { %>
    <p style="text-align:center;">-- Actualmente no se encuentran reportes --</p>

    <% } %>

      <!--VIEW REPORTES-->

  <div class="row justify-content-center">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 g-4 mt-2 pb-3">
      <% reportes.forEach(function(reporte){ %>
      <div class="col">
        <div class="card">
          <div class="card-title text-center">
            <h4 class="mt-3">Reporte</h4>
          </div>
          <div class="card-body pt-0 card-border-report-adopcion">
            <label class="form-label fw-bold">¿Qué ocurrió?</label>
            <div class="text-justify fs-6"><%= reporte.desc %></div>
            <div class="row">
              <label class="form-label fw-bold">Foto:</label>
            </div>
            <div class="row justify-content-center">
              <img src="data:image/png;base64,<%=reporte.photo?reporte.photo:''%>" alt="No foto" style="width: 300px;">
            </div>
          </div>
          <div class="card-footer pb-0">
            <div class="row d-flex align-items-center">
              <div class="col-6">
                <% usuariosPeople.forEach(function(people){ %>
                  <% if (people.user_id==reporte.userAdoptante_id) { %>
                    <div class="row d-flex align-items-center">
                      <div class="col-4">
                        <img src="data:image/png;base64,<%=people.photo?people.photo:''%>" alt="avatar"
                          class="rounded-circle img-fluid" style="width: 80px;">
                      </div>
                      <div class="col-8">
                        <label class="fw-bold">Por:</label>
                        <label class="form-label fw-bold">
                          <%= people.first_name %>
                          <%= people.last_name %>
                        </label>
                        <label class="fst-italic form-label">
                          <%= reporte.fecha %>
                        </label>
                      </div>
                    </div>
                  <% } %>
                <% }) %>
              </div>
              <div class="col-6">
                <form action="/accounts/cambiarStatus" method="POST">
                  <div class="d-grid gap-2 d-block justify-content-center">
                    <select class="form-select" name="status" id="" required>
                      <option selected disabled value=""> <%= user.status %> </option>
                      <option value="actived">Activo</option>
                      <option value="reported">Reportado</option>
                      <option value="blocked">Bloqueado</option>
                    </select>
                    <input type="text" value="<%= user.id %>" name="id" hidden>
                    <input type="text" value="<%= reporte.id %>" name="reporte_id" hidden>
                    <button type="submit"class="btn btn-success my-2">Ok</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</main>