<h1>Sugerencias de establecimientos</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre del establecimiento</th>
      <th scope="col">Calificación</th>
      <th scope="col">Tipo</th>
      <th scope="col">Link</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% sugerencias.forEach(function(sugerencia){ %>
    <tr>
        <th scope="row">
          <%=sugerencia.id%>
        </th>
        <td>
          <%=sugerencia.name%>
        </td>
        <td>
          <%=sugerencia.rating%>
        </td>
        <td>
          <%=sugerencia.type%>
        </td>

        <td>
            <%= sugerencia.link %>
        </td>

        <td>
            <button data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger">Borrar</button>
        </td>
    </tr>
      <% }) %>
  </tbody>
</table>

<div class="modal" id="deleteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Borrar usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="deleteMessage">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" usertoDelete="" class="btn btn-danger" userid="" id="confirmDeleteButton">Borrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="detailsModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Borrar usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="deleteMessage">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" usertoDelete="" class="btn btn-danger" userid="" id="confirmDeleteButton">Borrar</button>
      </div>
    </div>
  </div>
</div>


<script>
  highlightNavbar(4)
  document.querySelectorAll('.deleteButton').forEach((button) => {
    button.addEventListener('click', (ev) => {
      console.log(ev.target);
      document.querySelector('#deleteMessage').innerText = "  Está seguro que desea borrar el establecimiento " + ev.target.getAttribute('username') + '?';
      document.querySelector('#confirmDeleteButton').setAttribute("estid", ev.target.getAttribute('estid'));
    })
  })
  document.querySelector('#confirmDeleteButton').addEventListener('click', (ev) => window.location = '/accounts/deleteEstablecimiento/' + ev.target.getAttribute('estid'))
</script>